.c_mp{
	margin-top: 20px;
}

input + span {
  padding-right: 30px;
}

input:invalid+span:after {
  /*position: absolute;*/
  content: 'x';
  color: red;
  padding-left: 5px;
}

input:valid+span:after {
  /*position: absolute;*/
  content: '✓';
  color: green;
  padding-left: 5px;
}